/* Global Styles */
body, html {
    font-family: Poppins, sans-serif; /* Utilise la police Poppins, avec une alternative sans-serif */
    font-size: 16px; /* Définit la taille de la police à 16 pixels */
    height: 100%; /* Définit la hauteur à 100% de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes par défaut */
    text-align: center; /* Centre le texte horizontalement */
    background-color: #f9f9f9; /* Définit la couleur de fond à une teinte claire de gris */
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur et la hauteur */
}

*, *::before, *::after {
    box-sizing: inherit; /* Hérite de la propriété box-sizing définie dans body */
}

h1 {
    color: #FFFFFF; /* Définit la couleur du texte à blanc */
    font-size: 2em; /* Définit la taille de la police à 2 fois la taille de base */
}

/* Container */
.container {
    display: flex; /* Utilise un conteneur flexbox */
    flex-direction: column; /* Aligne les éléments enfants en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    padding: 10px; /* Ajoute un padding de 20 pixels autour du conteneur */
    max-width: 1500px; /* Définit une largeur maximale de 1500 pixels */
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

/* Header */
.header {
    text-align: center; /* Centre le texte */
    margin-bottom: 10px; /* Ajoute une marge inférieure de 20 pixels */
    background-color: #D3D3D3; /* Définit la couleur de fond à une teinte claire de gris */
    padding: 10px; /* Ajoute un padding de 20 pixels autour de l'élément */
}

/* Logo */
.logo-wrapper {
    margin-bottom: 20px; /* Ajoute une marge inférieure de 20 pixels */
    text-align: center; /* Centre le texte */
}

.logo {
    max-width: 100%; /* Définit une largeur maximale de 100% */
    max-height: 300px; /* Définit une hauteur maximale de 300 pixels */
    width: auto; /* Définit la largeur automatiquement pour garder les proportions */
    opacity: 1; /* Définit l'opacité à 1 (pleinement opaque) */
}

/* Banner */
.banner {
    flex: 1; /* Utilisation de flex pour ajuster la largeur */    
    text-align: center; /* Centre le texte */
    background-color: #D3D3D3; /* Définit la couleur de fond à une teinte claire de gris */
    padding: 5px 0; /* Ajoute un padding vertical de 10 pixels */
    margin-bottom: 5px; /* Ajoute une marge inférieure de 20 pixels */
}
.banner img {
    height: 60px; /* Ajuste la hauteur de l'image promotionnelle */
    margin-right: -25px; /* Ajoute une marge à droite pour séparer de texte */
}
.banner span {
    font: italic 18px 'Poppins', sans-serif; /* Définit la police en italique à 16 pixels */
    color: #AA0078; /* Définit la couleur du texte */
    letter-spacing: 0.5px; /* Ajoute un espacement de 0.5 pixels entre les lettres */
    margin-left: 0px; /* Ajoute une marge à gauche de 10 pixels */
}
@keyframes blink-animation {
    0% { opacity: 1; } /* Pleinement opaque au début */
    50% { opacity: 0; } /* Entièrement transparent au milieu */
    100% { opacity: 1; } /* Pleinement opaque à la fin */
}

/* Navigation */
nav ul {
    list-style: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime le padding */
    margin: 0; /* Supprime la marge */
    text-align: center; /* Centre le texte */
    display: flex; /* Utilise un conteneur flexbox */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet de renvoyer les éléments sur la ligne suivante si nécessaire */
}

nav ul li {
    display: inline-block; /* Affiche les éléments en ligne */
    margin: 0 10px; /* Ajoute une marge horizontale de 10 pixels */
}

nav ul li a {
    text-decoration: none; /* Supprime la décoration du texte */
    color: #007bff; /* Définit la couleur du texte */
    font-size: 1.5em; /* Définit la taille de la police à 1,5 fois la taille de base */
}

/* Dropdown Menu */
.dropdown {
    position: relative; /* Définit une position relative pour l'élément */
    display: inline-block; /* Affiche les éléments en ligne */
}

.dropdown-content {
    display: none; /* Cache le contenu par défaut */
    position: absolute; /* Positionne l'élément de manière absolue */
    background-color: #f9f9f9; /* Définit la couleur de fond */
    min-width: 160px; /* Définit une largeur minimale */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Ajoute une ombre */
    z-index: 1; /* Définit l'ordre de superposition */
}

.dropdown-content a {
    color: black; /* Définit la couleur du texte */
    padding: 12px 16px; /* Ajoute un padding */
    text-decoration: none; /* Supprime la décoration du texte */
    display: block; /* Affiche les éléments en bloc */
    text-align: left; /* Aligne le texte à gauche */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Change la couleur de fond au survol */
}

.dropdown:hover .dropdown-content {
    display: block; /* Affiche le contenu au survol */
}

/* Buttons */
.button-container {
    list-style-type: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime le padding */
    display: flex; /* Utilise un conteneur flexbox */
    flex-wrap: wrap; /* Permet de renvoyer les éléments sur la ligne suivante si nécessaire */
    gap: 10px; /* Ajoute un espace de 10 pixels entre les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    margin-top: 10px; /* Ajoute une marge supérieure de 20 pixels */
}

.button-container li {
    margin: 0; /* Supprime la marge */
}

.button {
    display: flex; /* Utilise un conteneur flexbox */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%; /* Définit une largeur de 100% */
    max-width: 180px; /* Définit une largeur maximale de 180 pixels */
    padding: 15px 20px; /* Ajoute un padding */
    border: 2px solid black; /* Définit une bordure noire de 2 pixels */
    background-color: white; /* Définit la couleur de fond */
    color: black; /* Définit la couleur du texte */
    text-decoration: none; /* Supprime la décoration du texte */
    text-align: center; /* Centre le texte */
    font-size: 16px; /* Définit la taille de la police à 16 pixels */
    border-radius: 8px; /* Ajoute des coins arrondis */
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour les changements de couleur */
    margin: 5px 0; /* Ajoute une marge verticale de 5 pixels */
}

.button:hover {
    background-color: #45a049; /* Change la couleur de fond au survol */
    color: white; /* Change la couleur du texte au survol */
}

/* Search Button and Dropdown */
.search-button-wrapper {
    position: relative; /* Définit une position relative pour l'élément */
    display: inline-block; /* Affiche les éléments en ligne */
    margin-top: 20px; /* Ajoute une marge supérieure de 20 pixels */
}

.search-button {
    background-color: #007bff; /* Définit la couleur de fond */
    color: white; /* Définit la couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Ajoute un padding */
    font-size: 16px; /* Définit la taille de la police à 16 pixels */
    cursor: pointer; /* Change le curseur au survol */
    border-radius: 8px; /* Ajoute des coins arrondis */
    display: flex; /* Utilise un conteneur flexbox */
    align-items: center; /* Centre les éléments verticalement */
}

.search-icon {
    width: 20px; /* Définit la largeur à 20 pixels */
    height: 20px; /* Définit la hauteur à 20 pixels */
    margin-right: 3px; /* Ajoute une marge à droite de 8 pixels */
}

.search-dropdown {
    display: none; /* Cache le contenu par défaut */
    position: absolute; /* Positionne l'élément de manière absolue */
    background-color: #f9f9f9; /* Définit la couleur de fond */
    min-width: 160px; /* Définit une largeur minimale */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Ajoute une ombre */
    z-index: 1; /* Définit l'ordre de superposition */
    margin-top: 10px; /* Ajoute une marge supérieure de 10 pixels */
    border-radius: 8px; /* Ajoute des coins arrondis */
}

.search-dropdown a {
    color: black; /* Définit la couleur du texte */
    padding: 12px 16px; /* Ajoute un padding */
    text-decoration: none; /* Supprime la décoration du texte */
    display: block; /* Affiche les éléments en bloc */
    text-align: left; /* Aligne le texte à gauche */
    border-radius: 8px; /* Ajoute des coins arrondis */
}

.search-dropdown a:hover {
    background-color: #f1f1f1; /* Change la couleur de fond au survol */
}

.show {
    display: block; /* Affiche l'élément */
}

/* Footer */
footer {
    display: flex; /* Utilise un conteneur flexbox */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 10px; /* Ajoute un espace de 10 pixels entre les éléments */
    margin-top: 20px; /* Ajoute une marge supérieure de 20 pixels */
    background-color: #ffffff; /* Définit la couleur de fond */
    padding: 10px; /* Ajoute un padding de 10 pixels */
    text-align: center; /* Centre le texte */
}

.social-links {
    display: flex; /* Utilise un conteneur flexbox */
    justify-content: space-between; /* Espacie les éléments de manière égale */
    width: 100%; /* Définit une largeur de 100% */
    margin-top: -10px; /* Ajoute une marge supérieure de 20 pixels */
}

.social-links img {
    width: 40px; /* Définit la largeur à 50 pixels */
    height: auto; /* Ajuste la hauteur automatiquement pour garder les proportions */
    margin: 0 40px; /* Ajoute une marge horizontale de 40 pixels */
}

/* PDF2HTML Styles */
#sidebar {
    position: absolute; /* Positionne l'élément de manière absolue */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    bottom: 0; /* Aligne en bas */
    width: 250px; /* Définit la largeur à 250 pixels */
    padding: 0; /* Supprime le padding */
    margin: 0; /* Supprime la marge */
    overflow: auto; /* Ajoute un défilement si nécessaire */
}

#page-container {
    position: absolute; /* Positionne l'élément de manière absolue */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    margin: 0; /* Supprime la marge */
    padding: 0; /* Supprime le padding */
    border: 0; /* Supprime la bordure */
    overflow: auto; /* Ajoute un défilement si nécessaire */
    transform-origin: 0 0; /* Définit l'origine de la transformation en haut à gauche */
    transform: scale(1); /* Applique une échelle de 1 */
    width: 100%; /* Définit une largeur de 100% */
    height: 100%; /* Définit une hauteur de 100% */
}

@media screen and (min-width: 1024px) {
    #page-container {
        transform: scale(3); /* Applique une échelle de 3 */
        width: calc(100% / 3); /* Définit la largeur à un tiers de 100% */
        height: calc(100% / 3); /* Définit la hauteur à un tiers de 100% */
    }
}

@media screen {
    #sidebar.opened + #page-container {
        left: 250px; /* Déplace le conteneur à droite de 250 pixels lorsque la barre latérale est ouverte */
    }

    #page-container {
        bottom: 0; /* Aligne en bas */
        right: 0; /* Aligne à droite */
        overflow: auto; /* Ajoute un défilement si nécessaire */
    }

    .loading-indicator {
        display: none; /* Cache l'indicateur de chargement par défaut */
    }

    .loading-indicator.active {
        display: block; /* Affiche l'indicateur de chargement lorsqu'il est actif */
        position: absolute; /* Positionne l'élément de manière absolue */
        width: 64px; /* Définit la largeur à 64 pixels */
        height: 64px; /* Définit la hauteur à 64 pixels */
        top: 50%; /* Centre verticalement */
        left: 50%; /* Centre horizontalement */
        margin-top: -32px; /* Centre en utilisant une marge négative */
        margin-left: -32px; /* Centre en utilisant une marge négative */
    }

    .loading-indicator img {
        position: absolute; /* Positionne l'image de manière absolue */
        top: 0; /* Aligne en haut */
        left: 0; /* Aligne à gauche */
        bottom: 0; /* Aligne en bas */
        right: 0; /* Aligne à droite */
    }
}

@media print {
    @page {
        margin: 0; /* Supprime la marge */
    }

    html {
        margin: 0; /* Supprime la marge */
    }

    body {
        margin: 0; /* Supprime la marge */
        -webkit-print-color-adjust: exact; /* Ajuste les couleurs pour l'impression */
    }

    #sidebar {
        display: none; /* Cache la barre latérale lors de l'impression */
    }

    #page-container {
        width: auto; /* Définit une largeur automatique */
        height: auto; /* Définit une hauteur automatique */
        overflow: visible; /* Affiche tout le contenu */
        background-color: transparent; /* Définit la couleur de fond à transparent */
    }

    .d {
        display: none; /* Cache les éléments avec la classe .d lors de l'impression */
    }
}

.c {
    position: absolute; /* Positionne l'élément de manière absolue */
    border: 0; /* Supprime la bordure */
    padding: 0; /* Supprime le padding */
    margin: 0; /* Supprime la marge */
    overflow: hidden; /* Cache le débordement */
    display: block; /* Affiche l'élément en bloc */
}

.t {
    position: absolute; /* Positionne l'élément de manière absolue */
    white-space: pre; /* Préserve les espaces blancs */
    font-size: 1px; /* Définit la taille de la police à 1 pixel */
    transform-origin: 0 100%; /* Définit l'origine de la transformation en bas à gauche */
    -ms-transform-origin: 0 100%; /* Prend en charge les anciennes versions d'Internet Explorer */
    -webkit-transform-origin: 0 100%; /* Prend en charge les anciens navigateurs WebKit */
    unicode-bidi: bidi-override; /* Redéfinit la direction du texte */
    -moz-font-feature-settings: "liga" 0; /* Désactive les ligatures dans Firefox */
}

.t:after {
    content: ''; /* Ajoute un pseudo-élément après */
}

.t:before {
    content: ''; /* Ajoute un pseudo-élément avant */
    display: inline-block; /* Affiche le pseudo-élément en ligne */
}

.t span {
    position: relative; /* Positionne l'élément de manière relative */
    unicode-bidi: bidi-override; /* Redéfinit la direction du texte */
}

._ {
    display: inline-block; /* Affiche l'élément en ligne */
    color: transparent; /* Définit la couleur du texte à transparent */
    z-index: -1; /* Positionne l'élément derrière les autres éléments */
}

::selection {
    background: rgba(127, 255, 255, 0.4); /* Définit la couleur de fond de la sélection */
}

::-moz-selection {
    background: rgba(127, 255, 255, 0.4); /* Définit la couleur de fond de la sélection pour Firefox */
}

.pi {
    display: none; /* Cache les éléments avec la classe .pi */
}

.d {
    position: absolute; /* Positionne l'élément de manière absolue */
    transform-origin: 0 100%; /* Définit l'origine de la transformation en bas à gauche */
    -ms-transform-origin: 0 100%; /* Prend en charge les anciennes versions d'Internet Explorer */
    -webkit-transform-origin: 0 100%; /* Prend en charge les anciens navigateurs WebKit */
}

.it {
    border: 0; /* Supprime la bordure */
    background-color: rgba(255, 255, 255, 0.0); /* Définit la couleur de fond à transparent */
}

.ir:hover {
    cursor: pointer; /* Change le curseur au survol */
}

/* Responsive Design */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column; /* Aligne les éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */
    }

    .column {
        width: 100%; /* Définit une largeur de 100% */
        align-items: center; /* Centre les éléments horizontalement */
    }

    .button {
        max-width: 100%; /* Définit une largeur maximale de 100% */
        display: block; /* Affiche l'élément en bloc */
        padding: 10px 0; /* Ajoute un padding vertical */
        font-size: 14px; /* Définit la taille de la police à 14 pixels */
    }

    .dropdown-content {
        position: relative; /* Positionne l'élément de manière relative */
        width: 100%; /* Définit une largeur de 100% */
    }

    .dropdown-content a {
        display: block; /* Affiche l'élément en bloc */
        padding: 10px; /* Ajoute un padding */
        font-size: 14px; /* Définit la taille de la police à 14 pixels */
    }

    .dropdown:hover .dropdown-content {
        display: block; /* Affiche le contenu déroulant au survol */
    }

    .logo {
        width: 80%; /* Définit la largeur à 80% */
    }

    nav ul {
        flex-direction: column; /* Aligne les éléments en colonne */
    }

    nav ul li {
        display: block; /* Affiche l'élément en bloc */
        margin: 10px 0; /* Ajoute une marge verticale */
    }

    nav ul li a {
        font-size: 1.2em; /* Définit la taille de la police à 1.2em */
    }

    .social-links {
        margin-top: 0; /* Supprime la marge supérieure */
        display: flex; /* Utilise un conteneur flexbox */
        justify-content: space-between; /* Espacie les éléments de manière égale */
        width: 100%; /* Définit une largeur de 100% */
    }

    .social-links img {
        width: 30px; /* Définit la largeur à 30 pixels */
        height: auto; /* Ajuste la hauteur automatiquement pour garder les proportions */
        margin: 30; /* Ajoute une marge de 30 pixels */
    }
}

/* Landscape mode for smartphones */
@media (max-width: 600px) and (orientation: landscape) {
    .button-container {
        flex-direction: row; /* Aligne les éléments en ligne */
        flex-wrap: wrap; /* Permet le retour à la ligne */
        justify-content: center; /* Centre les éléments horizontalement */
        gap: 5px; /* Ajoute un espace de 5 pixels entre les éléments */
    }

    .button {
        max-width: 25%; /* Définit une largeur maximale de 25% */
        padding: 5px; /* Ajoute un padding */
        font-size: 12px; /* Définit la taille de la police à 12 pixels */
        margin: 1px; /* Ajoute une marge */
    }

    nav ul {
        flex-direction: row; /* Aligne les éléments en ligne */
    }

    nav ul li {
        margin: 2px 5px; /* Ajoute une marge */
    }
}

