
body, html {
    font-family: Cambria, sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}
.logo-wrapper {
    margin-bottom: 50px;
    text-align: center;
}

.logo {
   ,max-width: 90%;
    max-height: 300px; /* Adjust this value to your desired maximum height */
    width: auto;
    opacity: 1; /* Opacité complète */
}

header {
    background-color: #b76e79;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000;
    font-size: 2em;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.5em;
}

footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.social-links {
    margin-top: 20px;
}

.social-links img {
    width: 50px; /* Ajustez la taille des icônes selon vos besoins */
    height: auto;
    margin-right:30px; /* Ajoutez une marge entre les icônes */
}

@media screen and (max-width: 600px) {
    .logo {
        width: 80%; /* Réduire la taille du logo pour les petits écrans */
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1.2em; /* Réduire la taille des liens de navigation pour les petits écrans */
    }

    .social-links img {
        width: 20px; /* Réduire la taille des icônes pour les petits écrans */
    }
}
